<div class="ui grid">
    <div class="three wide column">
        <div class="ui card" style="background-color: black; color: white;">
            <div class="content">
                <i class="ui map pin icon green large right floated"></i>
                <div class="header" style="color: white;">${_station.name}</div>
                <ul>
                    <li>Lat: ${_station.latitude}</li>
                    <li>Lng: ${_station.longitude}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="three wide column">
        <div class="ui card" style="background-color: black; color: white;">
            <div class="content">
                <i class="ui cloud sun icon red large right floated"></i>
                <div class="header" style="color: white;">Weather</div>
                <ul>
                    <li>Code: ${_station.getLatestReading().code}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="three wide column">
        <div class="ui card" style="background-color: black; color: white;">
            <div class="content">
                <i class="ui temperature low icon large right floated"></i>
                <div class="header" style="color: white;">Temp</div>
                <ul>
                    <li>Celsius:  ${_station.getLatestReading().temperature} °C</li>
                    <li>Fahrenheit: ${_station.getLatestReading().farenheit()} °F</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="three wide column">
        <div class="ui card" style="background-color: black; color: white;">
            <div class="content">
                <i class="ui wind icon blue large right floated"></i>
                <div class="header" style="color: white;">Wind</div>
                <ul>
                    <li>${_station.getLatestReading().windSpeed} Km/h</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="three wide column">
        <div class="ui card" style="background-color: black; color: white;">
            <div class="content">
                <i class="ui snowflake outline icon orange large right floated"></i>
                <div class="header" style="color: white;">Pressure</div>
                <ul>
                    <li>${_station.getLatestReading().pressure} Hpa</li>
                </ul>
            </div>
        </div>
    </div>
</div>
