<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" type="text" name="name">
    </div>
    <div class="field">
      <label>Latitude</label>
      <input placeholder="Latitude" type="number" name="latitude" step="0.0000001">
    </div>
    <div class="field">
      <label>Longitude</label>
      <input placeholder="Longitude" type="number" name="longitude" step="0.0000001">
    </div>
  </div>
  <button class="ui blue submit button">Add Station</button>
</form>