#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment" xmlns="http://www.w3.org/1999/html">
    <p>
    <h5>
        WeatherTop Inc. produce a modular weather station called the WeatherTop 1000. This lowcost device takes a set
        of meteorological readings and displays these on a simple LCD display.
        WeatherTop 1000 oofers the best value for money compared to any other personal weather station on the market
        right now. As a result, it is our number one recommendation.
    </h5>
    </p>

    <div class="column">
        <img class="ui image" src="/public/images/weathertop.png" style="margin-left: auto; margin-right: auto;  ">
    </div>

    <p>
    <h5>
        If you’re looking for an affordable, accurate, and reliable weather station, then this best-selling model from
        WeatherTop Inc. is your answer.
    </h5>
    </p>

</section>

<section class="ui center aligned middle aligned segment">
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                    class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                    href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">WeatherTop Inc. © 2018</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</section>